@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Add a student to course</h4>
<h4>Add a student to this course: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)

  @Html.Label("Select student")
  @Html.DropDownList("StudentId")

  <input type="submit" value="Add new Course" />
}
<p>@Html.ActionLink("Show all Course", "Index")</p>